target
.bloop
.bsp
.bin
.metals
dist
metals.sbt
project/project/metals.sbt
.vscode
.idea
.DS_Store
project/local.conf
logs/
bin/
testoutput.html
node_modules
app.log
.cxx
android/app/libs/
OME/
mobileapp/android/app/libs/
mobileapp/lib/*.jar
jniLibs
Tssclientv2.xcframework
.gradle
build
events/src/main/java/com/walletbackend/events/
mobileapp/lib/events/
mobileapp/lib/dispatch.dart
rustmodel/src/lib.rs
